@model FiveAnime.Models.AnimeModel

@{
    ViewData["Title"] = "Create Anime";

    IEnumerable<SelectListItem> selectListItems = ViewBag.filterSelectList;
}

<style>
    .multiSelect {
        width: 100%
    }
</style>

<h1>Create Anime</h1>

<h4>Anime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAnime" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CoverImage">Cover Image:</label>
                <input asp-for="CoverImage" accept="image/heic, image/png, image/jpeg, image/webp" type="file" />
                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Studio" class="control-label"></label>
                <input asp-for="Studio" class="form-control" />
                <span asp-validation-for="Studio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Season" class="control-label"></label>
                <select asp-for="Season" class="form-control">
                    <option value="Spring">Spring</option>
                    <option value="Summer">Summer</option>
                    <option value="Fall">Fall</option>
                    <option value="Winter">Winter</option>
                </select>
                <span asp-validation-for="Season" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FilterIds" class="control-label"></label>
                <select class="multiSelect" asp-for="FilterIds" multiple>
                @foreach (var filter in selectListItems)
                {
                    <option value="@filter.Value">@filter.Text</option>
                }
                </select>
                <span asp-validation-for="FilterIds" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCompleted" /> @Html.DisplayNameFor(model => model.IsCompleted)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDubbed" /> @Html.DisplayNameFor(model => model.IsDubbed)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Administration</a>
</div>

