
@{
    ViewData["Title"] = "Index";
}

<h1>Administration</h1>

<ul>
    <li><a asp-action="CreateAnime" asp-controller="Administration">New Anime</a></li>
    <li><a asp-action="" asp-controller="">New Episode</a></li>
    <li><a asp-action="" asp-controller="">New Filter</a></li>
</ul>