@model IEnumerable<FiveAnime.Data.Models.Filter>

<p>
    <a asp-action="CreateFilter">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilterName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody accesskey="">
        @foreach (var item in Model)
        {
            <tr class="flex-row justify-content-between">
                <td>
                    @Html.DisplayFor(modelItem => item.FilterName)
                </td>
                <td>
                    <a asp-action="DeleteFilter" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
